<!-- HOMEPAGE TEMPLATE TWO -->
{% include "includes/homepage_header_template_black_bar.html" %}

<div role="banner" id="global-header" style="background-color: #005DA6">
    <div id="content">
        <div class="grid-row">

            <div class="leftcolumn column-two-thirds">
                <h1 class="heading-xlarge">Single Justice Procedure</h1>
                
                <div class="homepage-search">
                    <p class="search-header">Search for a case</p>
                    <label class="form-label" for="case-search">Enter reference number or defendant's last name</label>
                    <input class="form-control" id="case-search" type="text" name="case-search"><object data="/public/images/homepage-templates/search-button.svg" type="image/svg+xml" class="svg" style="vertical-align: bottom"></object>
                </div>
                
            </div>

            <div class="column-one-third">
            </div>

        </div>
    </div>
    
</div>