<style>
    #signout {
        color:white;
        text-decoration: none;
    }
    #signout:hover {
        color:white;
        text-decoration: underline;
    }
</style>

<!-- HOMEPAGE TEMPLATE BLACK BAR -->
<header role="banner" id="global-header" class="{% block header_class %}{% endblock %}">
    <div class="black-bar" id="content">
        <p class="black-bar-text">Your account &nbsp; &nbsp; &nbsp; &nbsp; <a href="../prosecutor/sign-out.html" title="Sign out" id="signout">Sign out</a></p>
    </div>
</header>