// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



// Spacings

.top_60 {
    margin-top: 60px;
}
.top_30 {
    margin-top: 30px;
}
.top_25 {
    margin-top: 25px;
}
.top_20 {
    margin-top: 20px;
}
.top_15 {
    margin-top: 15px;
}
.top_10 {
    margin-top: 10px;
}
.top_5 {
    margin-top: 5px;
}
@media (min-width: 641px)
{
    .top_0 {
        margin-top: 0px;
    }
}
@media (min-width: 0px) and (max-width: 640px)
{
    .top_0 {
        margin-top: 0px;
    }
}

.bottom_60 {
    margin-bottom: 60px;
}
.bottom_30 {
    margin-bottom: 30px;
}
.bottom_25 {
    margin-bottom: 25px;
}
.bottom_20 {
    margin-bottom: 20px;
}
.bottom_15 {
    margin-bottom: 15px;
}
.bottom_10 {
    margin-bottom: 10px;
}
.bottom_5 {
    margin-bottom: 5px;
}
.bottom_0 {
    margin-bottom: 0px;
}




/* HOMEPAGE (DASHBOARD) TEMPLATE PATTERN */
#global-header {
    overflow: auto;
}
#global-header h1 {
    margin: 0;
}
.leftcolumn {
    color: #FFF;
    margin-top: 30px;
    padding-bottom: 30px;
}
.rightcolumn {
    color: #FFF;
    background-color: #0B0C0C;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.rightcolumn p {
    margin: 0;
    padding-bottom:5px;
}
.rightcolumn a {
    color: #fff;
    font-weight: bold;
}
#content {
    padding-bottom: 0;
}
.search-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0;
}
.homepage-search .form-label {
    color: #fff; margin-top:0;
    margin-bottom: 5px;
}
.homepage-search .form-control {
    border:none; width:80%; height: 40px
}
.black-bar {
    padding-bottom: 0;
    height: 30px;
    padding-top: 5px;
    padding-bottom:5px;
    overflow: hidden;
}
.black-bar-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
#footer {
    margin-top:60px;
}



/* WARNING BANNER PATTERN */
.warning-banner-nest {
    background-color: #DF3034;
}
.warning-banner {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #DF3034;
    min-height: 40px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.warning-banner div {
}
.warning-banner-icon {
    height: 20px;
    float: left;
    width: 20px;
}
.warning-banner-text {
    vertical-align: middle;
    margin-left: 30px;
}
.warning-banner-icon img {
    height: 20px;
    vertical-align: middle;
}



/* TABS PATTERN */
.tab, .tab:link {
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #DEE0E2;
    margin-left: 0;
    margin-right: 3px;
    height: 20px;
}
.tab:hover {
    text-decoration: none;
}
.tab:active {
    color: #0B0C0C;
    text-decoration: none;
}
.tab:visited {
    color: #0B0C0C;
    text-decoration: none;
}
.tab:focus {
    color: #0B0C0C;
    text-decoration: none;
    background-color: #DEE0E2;
    border: 3px solid #FFBF47;
}
.tab-on, .tab-on:link, .tab-on:hover, .tab-on:active, .tab-on:visited, .tab-on:focus  {
    color: #0B0C0C;
    text-decoration: none;
    padding: 10px 15px 8px 15px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-right: 3px;
    border: 1px solid #BFC1C3;
    border-bottom: 1px solid #FFFFFF;
    pointer-events: none;
    cursor: default;
}
.tabGroup hr {
    background: #BFC1C3;
    margin-top: -1px;
}
#tabTwoContent, #tabThreeContent {
    display: none;
}




/* LABEL PATTERN */
.label {
    border: 2px solid #0B0C0C;
    padding: 6px 9px 3px 9px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}




/* RIGHT COLUMN NAVIGATION */
.right-column-nav hr.bold-hr {
    height: 10px;
    background-color: #005EA5;
    margin-top: 10px;
    margin-bottom: 15px;
}
.right-column-nav hr.light-hr {
    height: 1;
    background-color: #BFC1C3;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-column-nav p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.right-column-nav h5 {
    font-size: 19px;
    margin-bottom: 10px;
}
.right-column-nav h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.right-column-nav h3.mulitple {
    margin-top: 30px;
    margin-bottom: 0;
}





/* Download file pattern */
.download-file span {
    display: block;
}
.download-file img {
    margin-right: 9px;
}
.download-file-large img {
    border: 1px solid #CACCCE;
    width: 100px;
    height: 140px;
}
.download-file-text {
    display: inline-block;
    vertical-align: top;
}




/* FONT XSMALL */
.font-xsmall {
    font-size: 14px;
    line-height: 18px;
}