{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    tr {
        vertical-align: top;
    }
</style>

<script>
    window.onload = function() {
        
        if (document.getElementById('datesToAvoidTD').innerText == "") {
            document.getElementById('datesToAvoidRow').style.display = "none"
        }
        
        if (document.getElementById('datesToAvoidTD').innerText != "") {
            document.getElementById('addDatesToAvoidLink').style.display = "none"
        }

        
    }
</script>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            
            <div class="peristant-info-banner">
                <div class="peristant-info-banner-content">{{data['case-reference']}} <span class="bold">{{data['defendent-first-name']}} {{data['defendent-last-name']}}</span></div>
            </div>
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge top_0 bottom_5">{{data['defendent-first-name']}} {{data['defendent-last-name']}}</h1>
            <p class="form-hint">{{data['defendent-dob']}} ({{data['defendent-age']}} years old)</p>
            
            <!-- WARNING BANNER PATTERN -->
            <div class="warning-banner-nest">
                <div class="warning-banner">
                    <div class="warning-banner-icon"><img src="/public/images/alert-icon-white.svg" class="warning-banner-icon"></div>
                    <div class="warning-banner-text">
                        <div>The following defendant details have been updated:</div>
                        <div class="top_5">Date of birth<br>Address details<br>Name</div>
                    </div>
                </div>
            </div>

            <div class="tabGroup top_30">
                <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Case details</a>
                <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Personal details</a>
                <a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Documents</a>
                <hr>
            </div>
            
            <div id="tabContent" class="top_30">
                
                <!-- CASE DETAILS TAB -->
                <div id="tabOneContent">
                    <h4 class="heading-medium bottom_10">Case details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Case status</th>
                            <td style="border: none">{{data['case-status']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Prosecutor</th>
                            <td style="border: none">{{data['prosecutor']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Notice served</th>
                            <td style="border: none">{{data['notice-served']}}</td>
                        </tr>
                        <tr id="datesToAvoidRow">
                            <th class="bold" style="border: none">Dates to avoid</th>
                            <td id="datesToAvoidTD" style="border: none">{{data['dates-to-avoid']}}</td>
                        </tr>
                    </table>
                </div>
                
                <!-- PERSONAL DETAILS TAB -->
                <div id="tabTwoContent">
                    <h4 class="heading-medium bottom_10">Personal details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Name</th>
                            <td style="border: none">{{data['defendent-first-name']}} {{data['defendent-last-name']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Date of birth</th>
                            <td style="border: none">{{data['defendent-dob']}} ({{data['defendent-age']}} years old)</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Address</th>
                            <td style="border: none">{{data['defendent-address-line-1']}}<br>{{data['defendent-address-line-2']}}<br>{{data['defendent-address-line-3']}}<br>{{data['defendent-address-town-or-city']}}<br>{{data['defendent-address-postcode']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Email</th>
                            <td style="border: none">{{data['defendent-email']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Home telephone</th>
                            <td style="border: none">{{data['defendent-home-telephone']}}<span id="addHomeTelephone"><a href="" title="">Add home telephone</a></span></td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Mobile</th>
                            <td style="border: none">{{data['defendent-mobile']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">National Insurance number</th>
                            <td style="border: none">{{data['defendent-nin']}}</td>
                        </tr>
                    </table>
                    
                    <p class="top_15"><a href="" title="">Change personal details</a></p>
                </div>
                
                <!-- DOCUMENTS TAB -->
                <div id="tabThreeContent">

                
                
                
                
                    <h4 class="heading-medium bottom_10">Documents</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Uploaded documents</th>
                            <td style="border: none">
                                <!-- Thumbnail - small icon -->
                                <div class="download-file">
                                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                                    <div class="download-file-text">
                                        <span class="font-xsmall"><a href="#">SJP notice</a></span>
                                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    <p class="top_15"><a href="" title="">Add documents</a></p>

                    <h4 class="heading-medium bottom_10">Online plea</h4>
                    <p class="top_15"><a href="" title="">Defendant's online plea</a></p>

                
                
                
                
                </div>
                
            </div>
            
            <hr class="top_60 bottom_60">
            
            <h2 class="heading-large">Offence 1</h2>
            <h3 class="heading-medium bottom_5">{{data['offence-title']}}</h3>
            <p>{{data['offence-description']}}</p>
            
            <div class="top_60 bottom_60">
                <span class="label">{{data['case-status']}}</span>
            </div>
            
            <hr class="top_60 bottom_60">

            <h3 class="heading-medium bottom_5">Statement of facts</h3>
            <p>{{data['statement-of-facts']}}</p>

        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p><a href="">Withdraw offence</a></p>
                <p id="addDatesToAvoidLink"><a href="dates-to-avoid.html">Add dates to avoid</a></p>
            </div>
        </div>
    </div>

</main>

{% endblock %}


