{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
    tr {
        vertical-align: top;
    }
</style>

<script>
    window.onload = function() {
        
        var caseStatus = document.getElementById('caseStatus').innerText;
        if (caseStatus == "No  plea received") {
            document.getElementById("onlinePleaDocument").style.display = "none";
        } else {
            document.getElementById("onlinePleaDocument").style.display = "block";
        }
        
        //if (document.getElementById('datesToAvoidTD').innerText == "") {
        //    //document.getElementById('datesToAvoidRow').style.display = "none"
        //} else if (document.getElementById('datesToAvoidTD').innerText != "") {
        //    document.getElementById('addDatesToAvoidLink').style.display = "none"
        //    document.getElementById('addDatesToAvoidLink2').style.display = "none"
        //}
        
        
        
        var hasCaseBeenWithdrawn = document.getElementById('hasCaseBeenWithdrawn').innerHTML;
        if (hasCaseBeenWithdrawn == "True") {
            document.getElementById('caseWithdrawn').style.display = "block";
            document.getElementById('withdrawOfficeLink').style.display = "none";
        }

        
        

        var datesToAvoidTD = document.getElementById('datesToAvoidTD').innerText;
        if (datesToAvoidTD == "") {
            document.getElementById('addDatesToAvoidLink').style.display = "block";
            document.getElementById('changeDatesToAvoidLink').style.display = "none";
        } else if (datesToAvoidTD != "") {
            document.getElementById('addDatesToAvoidLink').style.display = "none";
            document.getElementById('changeDatesToAvoidLink').style.display = "block";
        }
        
        
    }
</script>

{% include "includes/timeout-overlay.html" %}

<main id="content" role="main">
        
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
            {% include "includes/breadcrumb_back.html" %}
            {% include "includes/persist-info-banner.html" %}
                        
            <div id="caseWithdrawn" class="confirmation-banner" style="display: none">
                <div class="confirmation-banner-tick">
                    <img src="/public/images/confirmation-banner-tick-icon.png">
                </div>
                <div class="confirmation-banner-text top_10">Your request has been sent and will be dealt with by a legal adviser</div>
            </div>
            <p id="hasCaseBeenWithdrawn" style="display: none">{{data['hasCaseBeenWithdrawn']}}</p>

            
            
            
            
        </div>
    </div>

    <div class="grid-row top_30">
        <div class="column-two-thirds">   
            
            {% include "includes/coming-from.html" %}            

            <h1 class="heading-xlarge top_0 bottom_5">{{data['defendent-first-name']}} {{data['defendent-last-name']}}</h1>
            <p class="form-hint">{{data['defendent-dob']}} ({{data['defendent-age']}} years old)</p>
            
            <!-- WARNING BANNER PATTERN -->
            <div class="warning-banner-nest">
                <div class="warning-banner">
                    <div class="warning-banner-icon"><img src="/public/images/alert-icon-white.svg" class="warning-banner-icon"></div>
                    <div class="warning-banner-text">
                        <div>The following defendant details have been updated:</div>
                        <div class="top_5">Date of birth<br>Address details<br>Name</div>
                    </div>
                </div>
            </div>

            <div class="tabGroup top_30">
                <a id="tabA" class="tab-on" onclick="tabGroup(tabContent, 'TAB-ONE')" href="javascript: void(0)">Case details</a>
                <a id="tabB" class="tab" onclick="tabGroup(tabContent, 'TAB-TWO')" href="javascript: void(0)">Defendant details</a>
                <a id="tabC" class="tab" onclick="tabGroup(tabContent, 'TAB-THREE')" href="javascript: void(0)">Documents</a>
                <hr>
            </div>
            
            <div id="tabContent" class="top_30">
                
                <!-- CASE DETAILS TAB -->
                <div id="tabOneContent">
                    <h4 class="heading-medium bottom_10">Case details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Case status</th>
                            <td style="border: none" id="caseStatus">{{data['case-status']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Prosecutor</th>
                            <td style="border: none">{{data['prosecutor']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Notice served</th>
                            <td style="border: none">{{data['notice-served']}}</td>
                        </tr>
                        <tr id="datesToAvoidRow">
                            <th class="bold" style="border: none">Dates to avoid</th>
                            <td style="border: none; white-space: pre-wrap"><!--<span id="addDatesToAvoidLink" style="display:none"><a href="dates-to-avoid-2.html">Add dates to avoid</a></span>--><span id="datesToAvoidTD">{{data['dates-to-avoid']}}</span></td>
                        </tr>
                    </table>
                </div>
                
                <!-- PERSONAL DETAILS TAB -->
                <div id="tabTwoContent">
                    <h4 class="heading-medium bottom_10">Personal details</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Name</th>
                            <td style="border: none">{{data['defendent-first-name']}} {{data['defendent-last-name']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Date of birth</th>
                            <td style="border: none">{{data['defendent-dob']}} ({{data['defendent-age']}} years old)</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Address</th>
                            <td style="border: none">{{data['defendent-address-line-1']}}<br>{{data['defendent-address-line-2']}}<br>{{data['defendent-address-line-3']}}<br>{{data['defendent-address-town-or-city']}}<br>{{data['defendent-address-postcode']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Email</th>
                            <td style="border: none">{{data['defendent-email']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Home telephone</th>
                            <td style="border: none">{{data['defendent-home-telephone']}}<span id="addHomeTelephone">&ndash;</span></td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">Mobile</th>
                            <td style="border: none">{{data['defendent-mobile']}}</td>
                        </tr>
                        <tr>
                            <th class="bold" style="border: none">National Insurance number</th>
                            <td style="border: none">{{data['defendent-nin']}}</td>
                        </tr>
                    </table>
                    
                    <!--<p id="nonActiveLink" class="top_15">Change personal details</p>-->
                    
                </div>
                
                <!-- DOCUMENTS TAB -->
                <div id="tabThreeContent">

                    <h4 class="heading-medium bottom_10">Documents</h4>
                    <table class="top_10">
                        <tr>
                            <th class="bold" style="border: none">Uploaded documents</th>
                            <td style="border: none">
                                <!-- Thumbnail - small icon -->
                                <div class="download-file">
                                    <img src="/public/images/Thumbnail%20icon%20-%20small.png" title="document title">
                                    <div class="download-file-text">
                                        <span id="nonActiveLink" class="font-xsmall">SJP notice</span>
                                        <span class="font-xsmall">PDF, 157KB, 2 pages</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    <p id="nonActiveLink" class="top_15">Add documents</p>

                    <div id="onlinePleaDocument">
                        <h4 class="heading-medium bottom_10">Online plea</h4>
                        <a href="defendants-online-plea.html" class="top_15">Defendant's online plea</a>
                    </div>
                
                </div>
                
            </div>
            
            <hr class="top_60 bottom_60">
            
            <h2 class="heading-large">Offence 1</h2>
            <h3 class="heading-medium bottom_5">{{data['offence-title']}}</h3>
            <p>{{data['offence-description']}}</p>
            
            <div class="top_60 bottom_60">
                <span class="label">{{data['case-status']}}</span>
            </div>
            
            <hr class="top_60 bottom_60">

            <h3 class="heading-medium bottom_5">Statement of facts</h3>
            <p>{{data['statement-of-facts']}}</p>

        </div>
        
        <div class="column-one-third">
            <div class="right-column-nav">
                <h5>7 days remaining to review this case</h5>
                <hr class="bold-hr">
                <h3 class="heading-medium">Case options</h3>
                <p id="withdrawOfficeLink"><a href="withdraw-an-offence.html">Withdraw offence</a></p>
                <p id="addDatesToAvoidLink"><a href="dates-to-avoid-2.html">Add dates to avoid</a></p>
                <p id="changeDatesToAvoidLink"><a href="change-dates-to-avoid-2.html">Change dates to avoid</a></p>
                <p id="progressCaseLink"><a href="progress-case.html">Progress case</a></p>
            </div>
            
        </div>
    </div>

</main>

{% endblock %}


