{% extends "layout-CPP-no-sign-in.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
</style>

<script>
    window.onload = function() {
    }
</script>

<main id="content" role="main">
    
    <div class="grid-row">
        <div class="column-full">
            <!-- Alpha phase banner -->
            {% include "includes/phase_banner_alpha.html" %}
        </div>
    </div>

    <div class="grid-row top_30">
        
        <div class="column-two-thirds">

            <div id="financialPenalty">
                
                <form class="form" action="" method="post">

                    <h1 class="heading-xlarge top_30 bottom_30">Additional authentication is required</h1>

                    <div class="form-group bottom_15">
                            <fieldset data-required data-error="Enter a valid security code">
                                <legend class="form-label" for="username">Enter the security code generaged by your authentication app</legend>
                                <input class="form-control form-control-1-3" id="username" type="text" name="username">
                            </fieldset>
                    </div>

                    <div class="form-group">
                        
                        <input class="button top_15" type="submit" value="Confirm" onClick="isChecked()">
                        <div class="top_15"><a href="javascript:history.go(-1);">Cancel - return to sign in</a></div>

                    </div>
                </form>

            </div>
        </div>

        <div class="column-one-third">
        </div>
            
    </div>
    
</main>
{% endblock %}