{% extends "layout-CPP.html" %}

{% block page_title %}
    GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
    window.onload = function() {

        localStorage.removeItem("removeRow");
        localStorage.removeItem("removeRow2");

    }
</script>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="bottom_15 heading-xlarge">ATCM Prosecutor design prototype</h1>
            
            <p class="top_15 bottom_0 font-xsmall form-hint">This prototype uses the GOV.UK prototype kit {{releaseVersion}}</p>
            
            <h2 class="top_60 bottom_10 heading-medium">What does this prototype include?</h2>
            <p class="heading-small">All prosecutors</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Search for 'Jones' <span style="color:#6F777B">- Any other text will result in the same search results</span></li>
                    <li>Review not guilty cases <span style="color:#6F777B">- In this order, remove "Camilla JONES" then remove "Alex HAMMOND" for the flow to work correctly</span></li>
                    <li>Defendant details updated <span style="color:#6F777B">- Remove both cases for the flow to work correctly</span></li>
                    <li>Export case results by date</li>
                    <li>Withdraw an offence <span style="color:#6F777B">- Search for 'Jones' then follow the flow to withdraw her case</span></li>
                </ul>
            </ul>
            
            <p class="heading-small">TfL only</p>
            <ul class="list list-bullet">
                <ul class="list list-bullet bottom_0">
                    <li>Manually create a new case <span style="color:#6F777B">- After the confirmation this case is not actually added</span></li>
                </ul>
            </ul>
            
            <form class="form" action="" method="post">
                <div class="form-group">
                    
                    <fieldset class="bottom_15">
                        <legend>
                            <h2 class="heading-medium bottom_10">Choose a prosecutor to start the prototype</h2>
                        </legend>
                        <div class="multiple-choice">
                            <input id="radio-1" type="radio" name="prosecutor-group" value="TfL">
                            <label for="radio-1">TfL</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-2" type="radio" name="prosecutor-group" value="TV Licensing">
                            <label for="radio-2">TV Licensing</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="radio-3" type="radio" name="prosecutor-group" value="DVLA">
                            <label for="radio-3">DVLA</label>
                        </div>
                    </fieldset>
                    
                    <fieldset class="top_15">
                        <input class="button" type="submit" value="Let's get started">
                    </fieldset>
                   
                </div>
            </form>

        </div>
    </div>
</main>

{% endblock %}


